html, body, h1, h2, h3, p {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
}

html {
  font-size: 16px;
}
body {
  font-family: "PT Sans Narrow Bold", sans-serif;
  color: #323232;
  max-width: 1230px;
  margin: 0 auto;
  }
/*main styles*/
img {
  max-width: 100%;
}
h1 {
  font-size: 1.875em;
  text-align: center;
}
h2 {
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}
h3 {
  font: 1em "PT Serif Regular", serif;
  line-height: 2em;
}
p {
  font: .875em "PT Serif Regular", serif;
  line-height: 1.75em;
}
a {
  font: 1em "PT Serif Bold", serif;
  color: #f26522;
  text-decoration: none;
  line-height: 2em;
}

/*header and nav styles*/
header h1 {
  font-size: 1.5em;
  margin: 20px 2%;
  display: inline-block;
  text-align: left;
}

nav p {
  font: .9em "PT Sans Regular", sans-serif;
  display: inline-block;
  margin-right: 15%;
  text-transform: uppercase;
}
nav {
  display: flex;
  float: right;
  margin: 25px 5%;
}
/*main paragraph cat-titude about section*/
.cat-titude {
  padding: 0 20%;
}
.cat-titude h1 {
  padding-bottom: 45px;
  padding-top: 80px;
}
.about-boxes, .contact-boxes {
  display: flex;
  justify-content: center;

}
.about, .contact {
  display: block;
  width: 22%;
  padding: 30px;
  float: left;
  margin: 30px 30px 0 30px;
}

.about, section.info {
  background-color: #eee;
}
/*contact information boxes*/

.info h1 {
  display: block;
  text-align: center;
  }
.info {
  padding: 80px 0;
}
.contact {
  background-color: white;
}
.hours-phone, .address {
  text-transform: uppercase;
}
.contact a {
  display: inline-block;
  vertical-align: top;
}

/*cat images*/
.cat-box {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}
img.cats {
  border-radius: 100%;
  width: 250px;
  margin: 0 3%;
}

/*footer*/
footer h1 {
  font-size: 1.25em;
  text-align: center;
  color: #eee;
  background-color: #00897f;
  padding: 50px 0;
}
@media screen and (max-width:980px) {
  .about, .contact {
    width: 32%;
  }
}
@media screen and (max-width:850px) {
  .cats:first-child {
    display: none;
  }
  .cat-titude h1 {
    padding-bottom: 20px;
    padding-top: 40px;
  }
  .info {
    padding: 40px 0 60px 0;
  }
  .cat-box {
      margin: 50px 0;
  }
}

@media screen and (max-width:660px) {
body {
  max-width: 100%;
}
/*header formatting*/
  nav p, .info h1 {
    display: none;
  }
  header h1 {
    display: block;
    text-align: center;
  }
  /*images formatting*/
  img.hero {
    object-fit: cover;
    width: 750px;
    height: 250px;
    }
  img.map {
    object-fit: cover;
    width: 750px;
    height: 280px;
  }
  img.cats {
    display: none;
  }
  img.cats:last-child {
    display: block;
  }
  .about-boxes, .contact-boxes {
    flex-wrap: wrap;
  }
  .about, .contact {
    width: 100%;
    float: none;
    margin: 0;
    padding: 20px 6% 30px 6%;
  }
  .contact {
    background-color: #eee;
  }
  .info {
    padding: 0;
  }
  .cat-titude h1 {
    font-size: 1.6em;
    padding: 30px 0;
  }
  .cat-titude {
    margin-bottom: 35px;
  }
  h3 {
  font-size: 1.25em;
  }
  .cat-titude {
    padding: 0 6%;
  }
  p {
    font-size: 1.1em;
  }

}
